{% extends "_shared/layout.html" %}

{% block main_content %}

    <div class="content">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Study Name</th>
                <th>Participant Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Response 1</th>
                <th>Response 2</th>
                <th>Response 3</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for screener in screeners %}
                <tr>
                    <td>{{ screener.study_name }}</td>
                    <td>{{ screener.name }}</td>
                    <td>{{ screener.phone }}</td>
                    <td>{{ screener.email }}</td>
                    <td>{{ screener.created_date.date().isoformat() }}</td>
                    <td>{{ "OPEN" if not screener.response_1 else "Responded" }}</td>
                    <td>
                        {% if not screener.response_1 %}
                            <a href="" class="btn btn-sm btn-success">Respond</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>

{% endblock %}